.login{
    display: grid;
    place-items: center;
    height: 100vh;
}

.login > div{
    display: flex;
    flex-direction: column;
}

.login > button{
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: bold;
}

.login > button:hover{
    background-color: #eff2f5;
    color: #2e81f4;
}

.login-icon{
    font-size: 6rem !important;
    color: #2e81f4;
}

.login-logo > h2{
    color: #2e81f4;
}